@import url(https://fonts.googleapis.com/css?family=Yesteryear:regular);
@import "tailwindcss";
@theme{
    --font-yesteryear: "Yesteryear", sans-serif; 
}
@font-face {
  font-family: 'VerdanaCustom';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/font/Verdana_Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'VerdanaCustom';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/font/Verdana_Bold.woff') format('woff');
  font-display: swap;
}