@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import "tailwindcss";
@font-face {
  font-family: VerdanaCustom;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Verdana_Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: VerdanaCustomBold;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Verdana_Bold.woff") format("woff");
  font-display: swap;
}

@theme {
  --font-yesevaOne: "Yeseva One", sans-serif;
  --font-verdana: "VerdanaCustom", sans-serif;
  --font-verdana-bold: "VerdanaCustomBold", sans-serif;
}
.container {
  @apply px-[15px] m-auto w-full max-w-[1478px];
}
h2 {
  @apply text-[35px] text-[#011936] font-yesevaOne;
}
button {
  cursor: pointer;
}
.router-link-exact-active {
  @apply font-verdana-bold;
}
